.nav {
    width: 100%;
    height: 40px;
    background-color: rgb(142, 179, 158);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.leave{
    padding-top: 5px;
    width:80px;
}
.logonav {
    padding-left: 20px;
    position:relative;
    width:40px;
}

.btnnav {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;

}


.link{

    font-family: 'Open Sans', sans-serif;
    color:#fff;

}

.btnnavsan {
    display: none
}

.jumbotron {
    /* width:100%; */
    height: 70vh;
    background-image: url("./ImagenLanding.png");
    background-size: cover;
    /* filter: brightness(80%); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;

}

.imgJumbo {
    position: relative;
    background-size: cover;
    object-fit: cover;
}

.titulo {
    height: 30vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.titulo h1{
    color:rgb(94, 117, 104);
}

.titulo h4{
    color:rgb(94, 117, 104);
}
.titulo p{
    font-size: 14px;
}

.inputMail{
    width: 180px;
    height:20px;
    border: none;
    border-width: 0ch;
    background-color:rgb(241, 241, 241) ;

}

.submit{
    width:50px;
    height: 25px;
    background:rgb(111, 139, 123);
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;    
}
.blog {
    height: 70vh;
    background-color: rgb(205, 220, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.tituloBlog{
    color: #fff;
}

.entradas {
    height: 60vh;
    width: 95vw;
    background-color: rgb(205, 220, 211);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.entradaBlog {
    height: 360px;
    width: 290px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.imgblog {
    height: 40%;
    width: 80%
}

.ContenidoBlog{
    margin-left: 10px;
}

.productos {
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
}

.tituloProductos {
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-left: 30px;

}

.tituloProductos h1{
   color: rgb(94, 117, 104);
}


.catalogo {
    position: relative;
    height: 50vh;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* overflow-x: scroll; */
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.producto {
    height: 300px;
    width: 200px;
    background-color:  rgb(222, 229, 225);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    padding-top:15px;
    border-radius: 5px;
}

.imgProduct {
    height: 220px;
    width: 174px;
}


.producto button {
    height: 22px;
    width: 100px;
    font-size: 12px;
    background:rgb(255, 255, 255);
	color: rgb(97, 121, 107);
    border-color: #fff;
	border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}


.btncatalogo button{
    width:80px;
    height: 25px;
    background:rgb(111, 139, 123);
	color: #fff;
	/* border: 1px solid #eee; */
    border-color: #fff;
	border-radius: 20px;
	/* box-shadow: 5px 5px 5px #eee; */
	text-shadow: none;    
}

.footer {
    height: 25vh;
    background-color: rgb(205, 220, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ftrEnlaces {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:8px;

}


.ftrRRSS {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-grow: 1;
}

.ftrSecciones {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-content: center;

}


.ftrSecciones h1 {
    font-size: medium;
}


.ftrNosotros {
    /* height: 15vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.ftrLink{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}


.ftrContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.ftrContacto button{
    width:100px;
    height: 25px;
    background:rgb(255, 255, 255);
	color: #343434;
	border: 0px solid #eee;
	/* border-radius: 20px; */
	/* box-shadow: 5px 5px 5px #eee; */
	text-shadow: none;  
    font-family: 'Open Sans', sans-serif;
}

.rrss{
    width:20px;
    height: 20px;
}


.ContenidoBlog h3{
    font-size: 18px;
}


.ContenidoBlog p{
    font-size: 15px;
}


@media (max-width: 966px) and (min-width: 700px) {


    .jumbotron {
        /* width:100%; */
        height: 50vh;
    }

    .blog {
        height: 120vh;

    }

    .entradas {
        display:flex;
        height: 90%;
        /* flex-direction: column; */
        gap: 10px;
        flex-wrap: wrap;

    }


    .productos {
        height: 110vh;
    }

    .catalogo {
        padding: 10px;
        position: relative;
        /* overflow-x: scroll; */
        width: 80vw;
        height: 90vh;
        flex-wrap: wrap;
        gap: 30px;

    }


    .producto {
        height: 250px;
        width: 200px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .imgProduct {
        height: 160px;
        width: 128px;
    }

}



@media (max-width: 700px) and (min-width:530px) {


    .jumbotron {
        /* width:100%; */
        height: 40vh;
    }


    .titulo {
        height: 25vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin:5px;
    }

    .blog {
        height: 100vh;

    }

    .entradas {
        width:90%;
        height: 90vh;
        flex-direction: column;
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    .entradaBlog {
        height: 180px;
        width: 410px;
        flex-direction:row;
    }


    .tituloProductos {
        width: 90vw;
        display: flex;
        justify-content: center;


    }

    .productos {

        height: 90vh;

    }

    .catalogo {
        padding: 10px;
        position: relative;
        width: 90vw;
        height: 80vh;
        /* flex-direction: column ; */
        flex-wrap: wrap;
    }

    .producto {
        height: 250px;
        width: 200px;
    }


    .imgProduct {
        height: 160px;
        width: 128px;
    }
    .footer {
        flex-direction: column;
        height: 40vh;
        padding: 20px;
        justify-content: space-around;
    }

    .ftrEnlaces {
        flex-grow: 1;
        justify-content: space-between;

    }

    .ftrSecciones {
        flex-grow: 1;
        justify-content: space-between;
    }


}



@media (max-width:530px) {
    .btnnav {
        display: none;
    }

    .btnnavsan {
        display: flex;
        margin-right: 10px;
        height:25px;
        width:25px;
    }

    .jumbotron {
        /* width:100%; */
        height: 40vh;
    }


    .titulo {
        height: 25vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 10px;
    }

    .blog {
        height: 85vh;

    }

    .entradas {
        height: 80vh;
        width: 85%;
        flex-direction: column;
        gap: 9px;
        /* overflow-y: scroll; */
        padding-top: 5px;
        padding-bottom: 5px;

    }

    .entradas :last-child {
        display: none;
    }

    .entradaBlog {
        height: 250px;
        width: 200px;
    }


    .productos {

        height: 110vh;

    }

    .tituloProductos {
        width: 90vw;
        display: flex;
        justify-content: center;

    }

    .catalogo {
        padding: 10px;
        position: relative;
        width: 70vw;
        height: 100vh;
        flex-direction: column;

    }

    .catalogo :last-child {
        display: none;
    }

    .producto {
        height: 200px;
        width: 160px;
    }

    .imgProduct {
        height: 160px;
        width: 128px;
    }



    .footer {
        flex-direction: column;
        height: 50vh;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .ftrSecciones {

        flex-direction: column;
        height: 40vh;
    }


}

h1 {
    
    font-family: 'Open Sans', sans-serif;

}

h2{
    
    font-family: 'Open Sans', sans-serif;

}
h3 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
        font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}


.ftrContacto p{
    font-size: 12px;
}