.nav{
    width:100%;
    height: 40px;
    background-color: rgb(254, 239, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logonav{
    padding-left: 30px;

}

.btnnav{
    width:300px;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;

}

.jumbotron{
    /* width:100%; */
    height: 70vh;
    background-color: rgb(182, 214, 153);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;

}

.titulo{
    height: 50vh;
    width: 25vw;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.blog{
    height: 70vh;
    background-color: rgb(196, 244, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.entradas{
    height: 60vh;
    width: 90vw;
    background-color: rgb(229, 215, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.entradaBlog{
    height:50vh;
    width: 20vw;
    background-color: rgb(208, 243, 231);
}


.productos{
    height: 70vh;
    background-color: rgb(238, 170, 197);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
}

.tituloProductos{
    width: 90vw;
    display:flex;
    justify-content: flex-start;
    
}


.catalogo{
    height: 50vh;
    width: 90vw;
    background-color: rgb(229, 215, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.producto{
    height:40vh;
    width: 15vw;
    background-color: rgb(208, 243, 231);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.footer{
    height: 25vh;
    background-color: rgb(215, 241, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ftrEnlaces{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.ftrRRSS{
    display: flex;
    flex-direction: row;
}

.ftrSecciones{
    width:30vw;
    display:flex;
    justify-content: space-around;

}


.ftrSecciones h1{
    font-size: medium;
}


.ftrNosotros{

display:flex;
flex-direction: column;
justify-content: space-around;
}